*{      /*Aplica a tooodo*/
    font-family: Arial, Helvetica, sans-serif; /*Por si no esta la primera usa la segunda*/
    color: red;
    border: solid 1px lightcoral; 
} 
/*Selectores mas especificos*/
p::first-letter{
    color: blue;
    font-size: 30px;
}
.relleno{
    color: green;
}
.Mayusculas{    /*Para las clases*/
    text-transform: uppercase;
}
#especial{  /*Para los id's*/
    text-transform: capitalize;
    color: blueviolet;
}
a{
    text-decoration: none;
}
li > a{ /* Selector hijo*/
    color: burlywood;
}
div  strong{    /*Selector descendiente*/
    color: gray;
}
h1+p{   /*Parrafo hermano inmediato de h1*/
    background-color: lightblue;
}
h1~p{   /*Parrafo todos los hermanos de h1*/
    color: darkblue;
}
input[type="password"]{ /*Selectores de atributos*/
    background-color: lavender;
}
form  div:hover{  /*cuando pase el mouse sobre algun div cambiara color*/
    background-color: lightpink;
}
a:visited{
    color: aqua;
    text-transform: uppercase;
}
#ejemplo li:nth-of-type(even){ /*solo los pares de la lista*/
    background-color: tan;
}
li{
    background-color: skyblue;
}
li{ /*son iguales, aplica el ultimo*/
    background-color: sandybrown;
}
.primero{/*Mas especifico*/
    background-color: powderblue;
}
#especial2{/*Aun mas especifico*/
    background-color: darkcyan;
}
